<a href="https://colab.research.google.com/github/oluwaseuno25/OLUWASEUN_INFO5502_-Summer2022/blob/main/Lab_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#1. To count the number of characters in "I love python"
def char_frequency(str1):
    dict = {}
    for y in str1:
        keys = dict.keys()
        if y in keys:
            dict[y] += 1
        else:
            dict[y] = 1
    return dict
print(char_frequency('I love python'))

{'I': 1, ' ': 2, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'n': 1}

In [9]:
# To sum all the items in a list
Mylist = [10, 15, 20, 25, 30]
sum(Mylist)

100

In [10]:
#3. All occurences of r changed to $ except the first character(r)
s = 'reprobater'
from re import sub
print(sub(r"(?<!^)"+s[0], "$", s))

rep$obate$

In [11]:
#4. The two parameters a =3 and b=2 respectively,parameters defined and formula written as s= 3.14*(1+a/b)**3
a = 3
b = 2
S= 3.14*(1+a/b)**3
print('The result of the formula is: ',S)

The result of the formula is:  49.0625

In [12]:
#5. Python program to concatenate following dictionaries to create a new one
dic1 = {1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Sampledictionary = {**dic1,**dic2,**dic3}
print(Sampledictionary)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
#6. To check if apple,orange , and 20 exists in tuple_1

tuple_1 = ("apple","2","40","r","orange")
print("apple" in tuple_1)
print("orange" in tuple_1)
print("20" in tuple_1)
#Another method to check whether an element exists within a tuple
# Define my tuple first
tuple_2 = ("pearl","2","40","r","banana")
# check whether banana exists in tuple_2
element = "banana"
if element in tuple_2:
    print(element,"is in tuple_2")
else:
    print(element,"does not exist in tuple_2")

True
True
False
banana is in tuple_2

In [15]:
#7. Python program to find maximum and the minimum value in a set
# Define a set first
set1 = {2, 9, 4, 12, 2, 200}
# print the defined set
print(set1)
print("\nMaximum value in set1:")
print(max(set1))
print("\nMinimum value of  set1:")
print(min(set1))

{2, 4, 200, 9, 12}

Maximum value in set1:
200

Minimum value of  set1:
2

In [16]:
 #8.Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.
def duplicate(arr):
    unique_nb = set()
    for nb in arr:
        if nb in unique_nb:
            return nb
        else: 
            unique_nb.add(nb)
    return -1    
print(duplicate([16,20,30,40,65]))

-1